# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# another Misc
/Data
/img/cat-meoooow.gif
/img/user.png
/DataBarang/Input_DataBarang-bkup.js
/DataBarang/Input_DataBarang-bkup2.js
/Penjualan/Input_Penjualan-bkup.js
/Penjualan/Input_Penjualan-bkup2.js
/Penjualan/Input_Penjualan-bkup3.js
/Penjualan/Input_Penjualan-inputfielddel.js
/Penjualan/Input_Penjualan-tabelbkup.js
/Penjualan/Penjualan-bkup.js
/Penjualan/Penjualan-bkup2.js
/Pembelian/Input_Pembelian-bkup.js
/Pembelian/Input_Pembelian-bkup2.js
