.App {
  text-align: center;
}

.row-container{
  display: flex;
  height: 100vh;
}

.content{
  width: 78vw;
  transition: width 0.2s linear;
  /* background-color: aqua; */
}

.content.wide{
  width: 96.5vw;
}

.content-fill{
  width: 93%;
  height: 100%;
  margin: 0 auto 0;
  padding-top: 20px;
  transition: width 0.2s linear;
  /* background-color: aquamarine; */
}

.sidebar{
  width: 22vw;
  transition: width 0.2s linear;
  
}

.sidebar.small{
  width: 3.5vw;
  transition: width 0.2s linear;  
  position: relative;
  left: -1.5px
}

.sidebar-hide, .sidebar-show{
  cursor: pointer;
  color:white
}

.picture-div{
  display: flex;
  align-items: center;
  height: 75%;
}

.name-div{
  display: flex;
  height: 25%;
}

.input-tag{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: ; */
  color: white;
  /* background-color:rgb(201, 201, 201); */
  border-radius: 0 10px 10px 0;
}

.input-tag.small{
  font-size: 10px;
}

.hide-button{
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  width: 46px;
  height: 100%;
  transition: width 2s linear;
  /* background-color:rgb(51, 51, 51); */
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 0% 100%, 0% 70%, 0% 0%);
  z-index: 20;
}

.hide-button.name{
  display: flex;
  align-items: center;
  /* width: 15%; */
  width: 46px;
  height: 100%;
  transition: width 2s linear;
  /* background-color:rgb(51, 51, 51); */
  /* clip-path: polygon(100% 0%, 50% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%); */
  clip-path: polygon(30% 0%, 40% 0%, 10% 30%, 10% 70%, 40% 100%, 0% 100%, 0% 70%, 0% 0%);
}

.hide-button.side{
  display: flex;
  align-items: center;
  /* width: 15%; */
  width: 46px;
  transition: width 2s linear;
  /* background-color:rgb(51, 51, 51); */
  /* clip-path: polygon(100% 0%, 50% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%); */
  clip-path: polygon(30% 0%, 40% 0%, 60% 30%, 60% 70%, 40% 100%, 0% 100%, 0% 70%, 0% 0%);
}

.hide-button.social{
  display: flex;
  align-items: center;
  /* width: 15%; */
  width: 46px;
  transition: width 2s linear;
  /* background-color:rgb(51, 51, 51); */
  /* clip-path: polygon(100% 0%, 50% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%); */
  clip-path: polygon(30% 0%, 40% 0%, 60% 30%, 60% 70%, 40% 100%, 0% 100%, 0% 70%, 0% 0%);
}


.profile{
  height: 35vh;
  position: relative;
}

.photo{
  /* background-color: red; */
  width: 150px;
  height: 150px;
  /* padding-left: 22vw; */
  margin: 0 auto 10px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  left: -5%;
  cursor: pointer;
}

.photo-profile{
  width: 150px;
  height: 150px;
  margin: 0 auto 10px;
  display: flex;
  position: relative;
  /* align-items: center;
  justify-content: center; */
  /* left: -5%; */
}

.overlay{
  /* background-color: rgb(37, 37, 37); */
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 9;
}

.overlay:hover{
  opacity: 1;
}

.iconover{
  display: flex;
  position: absolute;
  margin: 0 auto 25px;
  font-size: 60px;
  cursor: pointer;
  z-index: 11;
}

.backoverlay{
  background-color: rgb(68, 68, 68);
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 40;
  border-radius: 20px;
  opacity: 0.1;
  /* cursor: pointer; */
  z-index: 10;
}

.image{
  display: none;
}

.photo img{
  width: 150px;
  height: 150px;
  border-radius: 20px;
  /* z-index: 20; */
}

.photo-profile img{
  width: 150px;
  height: 150px;
  border-radius: 20px;
  /* z-index: 20; */
}

.username{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  border-radius: 5%;
  border: 1px solid black;
  color: white;
  /* background-color:rgb(201, 201, 201); */
  width: 85%;
  -webkit-animation:sidetext 1s;
  -moz-animation:sidetext 1s;
  animation-name: sidetext 1s;
  margin-bottom: 5px;
}

@keyframes sidetext{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@-moz-keyframes sidetext{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@-webkit-keyframes sidetext{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.side-nav{
  position: relative;
  display: flex;
  height: 48vh;
  z-index: 10;
}

.side-div{
  width: 85%;
  -webkit-animation:sidetext 1s;
  -moz-animation:sidetext 1s;
  animation-name: sidetext 1s;
}

.row{
  width: 104%;
}

.fill{
  background-color: aqua;
}

.link{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: left;
  text-indent: 60px;
  color:rgb(51, 51, 51);
  height: 5vh;
}

.link.on{
  /* background-color: rgb(121, 121, 121); */
  color: white;
  width: 80%;
  display: flex;
  margin: 0 auto 0;
  text-indent: 0;
  border-radius: 5px;
}

.link:hover{
  /* background-color: rgb(184, 184, 184); */
  color: black;
  width: 80%;
  text-indent: 0;
  margin: 0 auto 0;
  border: 0.5px solid;
  border-radius: 5px;
}

.made-by{
  position: relative;
  display: flex;
  font-size: 12px;
  height: 17vh;
}

.setting-row{
  text-decoration: none;
}

.set-link{
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.set-link:hover{
  margin-left: 0;
  color: rgb(61, 61, 61);
  background-color: white;
  border: 1px solid;
  border-radius: 3px;
}

.setting-menu{
  position: absolute;
  border-radius: 5%;
  height: 100px;
  width: 100px;
  z-index: 30;
}

.st-fold{
  left: 2.35%;
  top: 80%;
  transition: left 0.2s linear
}

.st-wide{
  left: 21%;
  top: 80%;
  transition: left 0.2s linear
}

.social-div{
  border-top: 1px solid;
  width: 85%;
  -webkit-animation:sidetext 1s;
  -moz-animation:sidetext 1s;
  animation-name: sidetext 1s;
}

.social-tab{
  display: flex;
  margin: 5px 5% 0;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
}

.social-label{
  width: 0%;
  display: flex;
}

.social-label.off{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link{
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.som{
  margin-top: 200px;
  font-size: 30px;
}

.shref{
  text-decoration: none;
}

.tool{
  width: 180px;
  position: absolute;
  left: 75%;
  top: -50%;
  border-radius: 2px;
  border: 1px solid;
  z-index: 4;
  background-color: white;
  font-size: 20px;
}

.tool.on{
  width: 80px;
  position: absolute;
  left: 75%;
  top: -50%;
  border-radius: 2px;
  border: 1px solid;
  z-index: 4;
  background-color: white;
}

.tool:after{
  position: absolute;
  right: 98%;
  border-bottom: 1px solid;
  border-left: 1px solid;
  top: 35%;
  content: '';
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background-color: white;
  z-index: 10;
}

.tool.on:after{
  position: absolute;
  right: 95%;
  border-bottom: 1px solid;
  border-left: 1px solid;
  top: 35%;
  content: '';
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background-color: white;
  z-index: 10;
}

.pagination.wide{
  width: 90%;
  position: fixed;
  bottom: 10%;
  justify-content: center;
  cursor: pointer;
}

.pagination.small{
  width: 75%;
  position: fixed;
  bottom: 10%;
  justify-content: center;
  cursor: pointer;
}

.user-pagination.small{
  display: flex;
  width: 72.5%;
  position: fixed;
  bottom: 5%;
  justify-content: center;
  cursor: pointer;
  /* background-color: blue; */
}

.user-pagination.wide{
  display: flex;
  width: 89.5%;
  position: fixed;
  bottom: 5%;
  justify-content: center;
  cursor: pointer;
  /* background-color: aqua; */
}

.page-link.active{
  background-color: rgb(211, 211, 211);
}

.input{
  width: 100%;
}

.an{
  background-color: aqua;
}

.un{
  background-color: darkcyan;
}

.sz{
  background-color: red;
}

.table-record{
  margin-top: 40px;
  font-size: 14px;
}

.row-label{
  text-align: left;
}

.label-record{
  border-top: 3px double;
  border-bottom: 3px double;
  text-align: left;
  background-color: aqua;
}

.data-record{
  border-bottom: 2px solid;
  padding: 4px 0 4px;
  text-align: left;
  align-items: center;
}

.data-record:nth-child(2n+1){
  background-color: rgb(233, 233, 233);
}

.data-record.stok{
  font-size: 12px;
}

.data-record.barang{
  font-size: 11px;
}

.data-summary{
  border-bottom: 2px dashed;
  padding: 10px 0 10px;
  text-align: left;
  align-items: center;
}

.row-record{
  padding: 4px 0 4px;
  text-align: left;
  align-items: center; 
}

.number{
  display: flex;
}

.note-barang{
  margin-top: 20px;
  font-size: 15px;
}

.note-ul{
  padding-left: 0;
  list-style-type: none;
}

ul li{
  display: flex;
}

.left-number{
  width: 20%;
  display: flex;
  justify-content: center;
}

.right-number{
  width: 80%;
  display: flex;
  justify-content: right;
}

.notra{
  text-align: left;
}

.jml{
  text-align: center;
}

.total-col{
  margin-left: -15px;
}

.total-all{
  width: 100%;
}

.totalAll-label{
  margin-left: -30px;
  margin-right: 30px;
  display: flex;
  justify-content:baseline;
}

.input-total{
  padding: 5px 0 30px;
  border-bottom: 1px dashed;
}

.record-transaksi{
  padding-top: 30px;
}

.blue-button{
  display: flex;
  border-left: 2px solid;
  border-right: 2px solid;
  justify-content: center;
  align-items: center;
}

.red-button{
  display: flex;
  border-right: 2px solid;
  justify-content: center;
  align-items: center;
}

.save-button{
  display: flex;
  border-right: 2px solid;
  justify-content: center;
  align-items: center;
}

.auto-complete{
  position: absolute;
  max-height: 300px;
  background-color: white;
  width: 160px;
  border: 1px solid;
}

.auto-fill:hover{
  background-color: rgb(72, 72, 255);
  cursor: pointer;
}

.language-tab{
  margin-top: 60px;
}

.sb-tab{
  margin-top: 30px;
}

.tb-tab{
  margin-top: 30px;
}

.st-input{
  margin-top: 20px;
}

.white-text{
  color: white;
}

.black-text{
  color:black;
}

.language-change{
  display: flex;
  margin: 20px auto 0;
  width: 500px;
}

.language-field{
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 70px;
  height: 36px;
  margin: 0 auto 0;
  border: 1px solid;
  border-radius: 20px;
}

.language-text{
  color: rgb(100, 100, 100);
  width: 30%;
}

.language-text.on{
  color: black;
}

.language-button-ind{
  background-color:rgb(51, 51, 51);
  width: 32px;
  height: 32px;
  border: 1px solid;
  margin-top: 0.5px;
  border-radius: 20px;
  position: relative;
  left: 1.5px;
}

.language-button-eng{
  background-color:rgb(51, 51, 51);
  width: 32px;
  height: 32px;
  border: 1px solid;
  margin-top: 0.5px;
  border-radius: 20px;
  position: relative;
  left: 34px;
}

.language-txt-ind{
  position: fixed;
  font-size: 10px;
  font-weight: 900;
  color: rgb(51, 51, 51);
  margin-left: 40px;
  z-index: 10;
}

.language-txt-eng{
  position: fixed;
  font-size: 10px;
  font-weight: 900;
  color: rgb(51, 51, 51);
  margin-left: 8px;
  z-index: 10;
}

.sidebar-theme, .table-theme{
  width: 200px;
}

.opt-label{
  color: white;
}

.black{
  background-color: rgb(51, 51, 51);
}

.tagblack{
  background-color:rgb(201, 201, 201);
}

.linkblack{
  background-color: rgb(121, 121, 121);
}

.gray{
  background-color: gray;
}

.taggray{
  background-color: rgb(204, 204, 204);
}

.linkgray{
  background-color: rgb(121, 121, 121);
}

.red{
  background-color: red;
}

.tagred{
  background-color: rgb(255, 149, 149);
}

.linkred{
  background-color: rgb(255, 60, 60);
}

.lightcoral{
  background-color: lightcoral;
}

.taglightcoral{
  background-color: rgb(233, 177, 177);
}

.linklightcoral{
  background-color: rgb(230, 109, 109);
}

.blue{
  background-color: blue;
}

.tagblue{
  background-color: rgb(149, 149, 255);
}

.linkblue{
  background-color: rgb(85, 85, 255);
}

.lightskyblue{
  background-color:lightskyblue;
}

.taglightskyblue{
  background-color:rgb(182, 218, 240);
}

.linklightskyblue{
  background-color:rgb(102, 186, 238);
}

.aqua{
  background-color: aqua;
}

.tagaqua{
  background-color: rgb(151, 255, 255);
}

.linkaqua{
  background-color: rgb(70, 255, 255);
}

.violet{
  background-color: violet;
}

.tagviolet{
  background-color: rgb(231, 185, 231);
}

.linkviolet{
  background-color: rgb(224, 144, 224);
}

.example-table{
  width: 500px;
  margin: 20px auto 0;
}

.save{
  color: white;
}

.save-button{
  width: 120px;
}

.tab-notwide{
  position: relative;
  left: -1%;
}

.login-page{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 241, 241);
}

.login-card{
  border-radius: 10px;
  width: 400px;
  height: 350px;
  background-color:white;
}

.login-title{
  /* margin-top: 20px; */
  padding: 5% 0 5%;
  background-color:rgb(109, 109, 253);
  color:white;
  border-radius: 10px 10px 0 0;
}

.login-button{
  width: 100%;
  margin: 20px auto 20px;
}

.input-card{
  background-color: bisque;
  width: 80%;
  margin: 10px auto 20px;
  padding: 4%;
  border-radius: 10px;
}

.input-row{
  position: relative;
}

.login-btn.on{
  background-color: blue;
  width: 30%;
  border-radius: 10%;
}

.login-btn.off{
  background-color: blue;
  opacity: 0.7;
  width: 30%;
  border-radius: 10%;
}

.login-input{
  width: 90%;
  margin: 10px 5% 10px;
}

.login-message{
  margin: 0 15% 0;
  border: 1px solid red;
  border-radius: 3px;
  color: red;
  background-color: rgb(255, 173, 173);
}

.see{
  position: absolute;
  height: 50%;
  width: 20px;
  top: 25%;
  right: 10%;
}

.input-card.prof{
  width: 50%;
  background-color: rgb(226, 224, 224);
}

.label-prof{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 20%;
}

.list-user{
  margin-top: 20px;
}

.add-user{
  display: flex;
  justify-content: flex-end;
  margin: 20px auto 0;
}

.add-user-btn{
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 130px;
}

.add-user-icon{
  margin-bottom: 5px;
}

.adm-userlist{
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto 0;
  padding-bottom: 70px;
  border-radius: 10px;
  border: 1px solid;
  list-style-type: none;
  height: 70vh;
}

.adm-usercard{
  display: flex;
  width: 48%;
  height: 28vh;
  margin: 10px auto 10px;
  border-radius:2%;
  border: 1px solid;
}

.photo-list{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.photo-list img{
  width: 90%;
  border-radius: 20px;
}

.adm-listbox{
  width: 60%;
}

.user-input-list{
  width: 90%;
  margin: 8px auto 8px;
}

.adm-editbutton{
  width: 20%;
}

.btn-userlist{
  width: 80%;
  margin: 5px auto 0;
}

.setting-button{
  position: relative;
  left: -20%;
  font-size: 85%;
  border-radius: 50%;
  color:white;
}

.setting-button:hover{
  background-color: rgb(235, 235, 235);
  color: rgb(121, 121, 121);
}

@media (min-width: 600px) {
  /* .content{
    background-color:brown;
  }

  .photo{
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
  } */

  /* .profile{
    height: 35vh;
  } */

}
